extends layout

block content
  include form
  h1 Update Book

  include errors
  form(method='post'  action="/books/" + book.id )
  p
    a.button(href='all_books.html') Cancel
  p
    input(type='submit' value='Delete Book')
